<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Tutorial Generator</title>
    </head>

    <body>
        <form method="post">
            {% csrf_token %}
            <label for="language">Choose a language:</label> 
            <select id="language" name="language" size=4>
                <option value="python">Python</option>
                <option value="java">Java</option>
                <option value="go">Go</option>
                <option value="typescript">TypeScript</option>
            </select>
            <br>
            <label for="concept">Choose a concept:</label>
            <select id="concept" name="concept">
              <option value="Object Oriented Programming">Object Oriented Programming</option>
              <option value="Functions">Functions</option>
              <option value="Variables">Variables</option>
              <option value="Control Structures">Control Structures</option>
            </select>
            <br>
            <input type="submit" value="Generate"> 

        </form>
        
        {% if prompt %}
            <h1> Response is: {{ prompt }} </h1>
        {% else %}
            <h1> No response! </h1>
        {% endif %}
    </body>
</html>